name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
      - run: npm ci
      - run: npm test
        env:
          CI: true
      - name: Codecov
        uses: codecov/codecov-action@v5.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
